<div class="bgBlack" id="contact">
    
    <h1>Contact me.</h1>
    <p>Get in touch vie from below, or by emailling <b>marciniakm489@gmail.com</b></p>
    <form action="ftp://f0148992@marcin-developer.de/marcin-developer.de/send_mail.php">
        <div class="felder">

            <div class="name">
                <span> Name</span>
                <input class="input" type="text" placeholder="Enter your name">
            </div>

            <div class="name">
                <span>E-Mail adress</span>
                <input class="input" type="text" placeholder="Enter your E-Mail address">
            </div>


            <div class="name">
                <span>Message</span>
                <textarea class="textarea" name="massage" cols="30" rows="10" placeholder="Enter your message"></textarea>
               
                
            </div>

            <input class="send" type="submit" value="Send">
        </div>
    </form>
</div>

