<div class="bgBlack" id="contact">
    
    <h1>Contact me.</h1>
    <p>Get in touch vie from below, or by emailling <b>marciniakm489@gmail.com</b></p>
    <form action="http://marcin-developer.de/send_mail.php" method="posts">
        <div class="felder">

            <div class="name">
                <span> Name</span>
                <input name="name" class="input" type="text" placeholder="Enter your name">
            </div>

            <div class="name">
                <span>E-Mail adress</span>
                <input name="email" class="input" type="text" placeholder="Enter your E-Mail address">
            </div>


            <div class="name">
                <span>Message</span>
                <textarea name="message" class="textarea" name="massage" cols="30" rows="10" placeholder="Enter your message"></textarea>
               
                
            </div>

            <button class="send" type="submit" >Send</button>
        </div>
    </form>
</div>

