<div class="bgBlack" id="home">
    <div class="between">
       <div>
        <h1> Hi<br>
            I'm <b class="red">Marcin Patryk</b> Marciniak<br>
            Front End develop<b class="green">e</b>r        
        </h1><br>
        <a href="#contact"><button class="button"> Contact me</button></a>

       </div>
       
        <img class="bild" src="assets/img/ich1.png" >
       
       
        
    </div>
    
    <div  class="down">
        <a href="#skills"> <img src="assets/img/down.png" ></a>
       
    </div>
   
</div>

